:global .overlay {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/fabrizio-verrecchia.jpg");
  background-size:  cover;   
  background-repeat: no-repeat;
  z-index: 0;
}

:global .card {
  width: 35%;
  margin: 0 auto;
  padding: 7vmin;
}

@media (max-width:600px)  { 
  :global .card {
    width: 60%;
    margin: 0 auto;
    padding: 7vmin;
  }
}

:global .app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

:global .datePicker {
  margin: 0 auto;
}

:global .counter{
  display: block;
  width: 100%;
  text-align: center;
  color: goldenrod;
  font-size: 15vmin;
  font-weight: 300;
}